version: '2'
services:
    db:
        image: mongo:3.4
        ports:
            - 27017
        volumes:
#            - dbdata:/data/db
            - /tmp/mongo:/data/db
    dba:
        image: mongoclient/mongoclient:1.5.0
        ports:
            - 3000
        depends_on:
            - db
#volumes:
#    dbdata: {}
